<div id="home">
    <div id="herobox">
        <!--<h1 class="panel-title">Hello From HOME!</h1>-->
        <!--<div class="inline-box">-->
        <div id="desc">
            <span><h2>    Join the Stack Underflow    community to:</h2></span>
            <ol id="hiw">
                <li id="q">
                    <h3>Ask programming questions</h3>
                </li>
                <li id="an">
                    <h3>Answer and distract your peers</h3>
                </li>
                <li id="b">
                    <h3>Get recognized for your ignorance</h3>
                </li>
            </ol>
        </div>
        <div id="blurb">
            Stack Underflow is a community of 4.7 million life sucking hacks,
            just like you -always hindering each other.
            <br>
            <br> Join them; it only takes a minute:
        </div>
        <div id="blurb">
            <a ui-sref="login" class="login">Click Here to Login</a>
        </div>
        <!--</div>-->
    </div>
</div>