<!--<p>If we are logged in we should have a member obj {{member}}</p>

<h2>Responsibilites</h2>
<p>It is your responsibility to get the questions from firebase to show up here.</p>
<p>When the user clicks on a question it should navigate them to the question view. 
    To accomplish this you will need to pass to the route the questions id. This can be accomplished with either 
    ui-sref="question({id: question.$id})" or ng-href="#/questions/{{question.$id}}"</p>
<p>It would also be nice if there is some sort of visual indicator that shows if the question has been answered already, and how many upvotes or 
    downvotes the question itself has.</p>
<p>The questions can be orderby max upvotes or by date created depending on the users choice.</p>
<p>The question can be filtered based upon tags, unanswered</p>
<p>No voting from this page.</p>-->
<!--ng-show="!activeQuestion && member" -->

<!-- Brand and toggle get grouped for better mobile display -->


<!--<section class="question-container">-->
<div class="well">
    <input class="form-control" type="text" name="questionSummary" ng-model="newQuestion.questionSummary" style:="width: 250px"
    placeholder="Enter short description of your question">
    <input class="form-control" type="text" name="userName" ng-model="newQuestion.userName" size="width: 300px" placeholder="Enter your User Name">
    <input class="form-control" type="text" name="tag" ng-model="newQuestion.tag" size="width: 150px" placeholder="ie. Javascript, food, ...one word to categorize your queston">
    <textarea row="5" class="form-control" type="text" name="Question" ng-model="newQuestion.body" placeholder="Enter your Question (long version)"></textarea>
    <button ng-click="addQuestion(newQuestion)">Add Question </button>
</div>

<div class="question-header">
    <h1>ACTIVE QUESTIONS</h1>
</div>
<table>
    <tbody class="question-list">
        <tr>
            <td ng-repeat="question in questions"></td>
        </tr>
        <thead>
            <tbody>
                <tr ng-repeat="question in questions | filter: query | orderBy: sortOrder track by $index">
                    <td class="col-xs-1; text-align: center; minimum-height: 50px;">
                        <div class="vote">
                            <h3><a ng-click="changeVote('1')" class="glyphicon glyphicon-hand-up"> </a></h3>
                            <span><h3>Votes: {{question.voteCount}}</h3></span>
                            <h3><a ng-click="changeVote('0')" class="glyphicon glyphicon-hand-down"> </a></h3>
                        </div>
                    </td>
                    <td class="answercell">
                        <div class="answercell">
                            <h3>{{question.questionSummary}}</h3>
                            <h4 style="color: blue">Tags: {{question.tag}}</h4>
                            <h4>{{question.userName}} : {{question.date | date: 'short'}}</h4>
                            <button type="button" class="btn btn-success" ui-sref="question({id:question.$id})" class="btn">GO TO QUESTION</a>
                                <button type="button" class="btn btn-danger" ng-click="removeQuestion($index)">REMOVE QUESTION </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </thead>
    </tbody>
</table>
